@page "/profile"


@using Microsoft.AspNetCore.Components.Authorization;
@using TechShop.Models.Dtos;
@using TechShop.Web.Services.Contracts
@using Microsoft.AspNetCore.Hosting;
@using Microsoft.AspNetCore.Http;
@using TechShop.Web.Components;
@using TechShop.Models.Enums;

@inject ICategoryService CategoryService


<link rel="shortcut icon" type="image/png" href="./assets/img/favicon.png">
<!-- google font -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
<!-- fontawesome -->
<link rel="stylesheet" href="./assets/css/all.min.css">
<!-- bootstrap -->
<link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
<!-- owl carousel -->
<link rel="stylesheet" href="./assets/css/owl.carousel.css">
<!-- magnific popup -->
<link rel="stylesheet" href="./assets/css/magnific-popup.css">
<!-- animate css -->
<link rel="stylesheet" href="./assets/css/animate.css">
<!-- mean menu css -->
<link rel="stylesheet" href="./assets/css/meanmenu.min.css">
<!-- main style -->
<link rel="stylesheet" href="./assets/css/main.css">
<!-- responsive -->
<link rel="stylesheet" href="./assets/css/responsive.css">

<link rel="stylesheet" href="./assets/css/style.css">



@if (Users == null)
{
    <DisplaySpinner />
}

else
{
    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">

                        <h1>Profile</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->
    @foreach (var item in Users)
    {
        <!-- featured section -->
        <div class="feature-bg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <div class="featured-text">
                            <h2 class="pb-3">Hi, <span class="orange-text">@item.TenKH</span></h2>
                            <div class="row">
                                <div class="col-lg-6 col-md-6 mb-4 mb-md-5">
                                    <div class="list-box d-flex">
                                        <div class="list-icon">
                                            <i class="fas fa-shipping-fast"></i>
                                        </div>
                                        <div class="content">
                                            <h3>Ngày sinh</h3>
                                            <p>@item.NgaySinh</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                                    <div class="list-box d-flex">
                                        <div class="list-icon">
                                            <i class="fas fa-money-bill-alt"></i>
                                        </div>
                                        <div class="content">
                                            <h3>Email</h3>
                                            <p>@item.Email</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                                    <div class="list-box d-flex">
                                        <div class="list-icon">
                                            <i class="fas fa-briefcase"></i>
                                        </div>
                                        <div class="content">
                                            <h3>Điện thoại</h3>
                                            <p>@item.DienThoai</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6">
                                    <div class="list-box d-flex">
                                        <div class="list-icon">
                                            <i class="fas fa-sync-alt"></i>
                                        </div>
                                        <div class="content">
                                            <h3>Giới tính</h3>
                                            <p>@item.GioiTinh</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="/createNew" class="btn btn-warning">Đăng sản phẩm</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end featured section -->
    
    }
   
    <div class="container">
        <h3 class="btn btn-info" style="font-size:large"> Quản lý bảng tin</h3>
         <div class="row mt-4">
        <table class="table">
            <thead>
                <tr>
                    <th>Ảnh</th>
                    <th>
                        Tên sản phẩm
                    </th>                    
                    <th>Ngày đăng</th>                   
                    <th>Tình trạng</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ProductOfUser)
                {
                    <tr>
                        <td>
                           <img src="@item.Image" style="max-width:50px; max-height:50px">
                        </td>
                        <td>@item.TenSP</td>                                                  
                        <td>@item.NgayDang.ToString()</td>
                        <td><StatusLabel Status="item.Status"></StatusLabel></td>
                        <td>
                                <a href="/detailsProduct/@item.MaSP" class="btn btn-primary">Detail</a>
                                <a href="/update/@item.MaSP" class="btn btn-danger">Edit</a>
                            </td>
                  
                    </tr>
                }

            </tbody>
           
        </table>
    </div>
    </div>
   
}


