@page "/search"

@using ShopOnline.Web.Pages;
@using TechShop.Web.Services.Contracts;
@using TechShop.Models.Dtos;
@using TechShop.Models.Enums;



<link rel="stylesheet" href="./assets/css/main.css">

@if (Products == null)
{
    <DisplaySpinner />
}

else
{

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">                       
                        <h1>Bảng tin sản phẩm</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->
    <!--Search-->
    <div class="row">
        <div class="container mt-5">
            <EditForm Model="@productListSearch" OnSubmit=@SearchForm>
                <div class="row">
                    <div class="col"></div>
                    <div class="col">
                     @*    <label>Name</label> *@
                        <InputText class="form-control" @bind-Value="productListSearch.TenSP" placeholder="Tên sản phẩm"></InputText>
                    </div>

                    <div class="col">                     
                        <InputSelect class="form-control" @bind-Value="productListSearch.LoaiSP">
                           <option>Chọn loại sản phẩm</option>
                            @foreach (var item in Loais)
                            {
                                <option value="@item.MaLoai">@item.TenLoai</option>
                            }
                        </InputSelect>
                    </div>

                    <div class="col">
                        <InputSelect class="form-control" @bind-Value="productListSearch.Status">
                            <option>Chọn tình trạng hàng</option>
                           @foreach (string item in Enum.GetNames(typeof(Status)))
                            {
                                <option value="@item">@item</option>
                            }
                        </InputSelect>
                    </div>
                    <div class="col px-5">
                     
                            <button type="submit" class="btn btn-warning">Search</button>
                   
                    </div>
                </div>
            </EditForm>
        </div>
    </div
    <!---->
 

    <div class="row">
        <div class="product-section  mb-150">
            <div class="container">

                <div class="row">
                    <div class="col-md-12">
                        <div class="product-filters">
                            <ul>
                                <li class="active" data-filter="*">Tất cả sản phẩm</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="row product-lists">
                    @foreach (var item in Products)
                    {
                        <div class="col-lg-4 col-md-6 text-center strawberry">
                        <div class="single-product-item">
                            <div class="product-image">
                               <a href="/ProductDetails/@item.MaSP"><img src="@item.Image" alt=""></a>
                            </div>
                            <span>@item.TenSP</span>
                            <p class="product-price"><span>Số lượng: @item.SoLuong</span>Giá:@item.GiaSP VND</p>
                            <p>Người bán: @item.Id</p>
                            <p>@item.TenLoai</p>
                            <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                       
                        </div>
                    </div>
                    }

                </div>

            </div>
        </div>
    </div>

}



