@page "/search"

@inherits SearchFormBase



@if (Products == null)
{
    <DisplaySpinner />
}

else
{

    <!-- breadcrumb-section -->
    <div class="breadcrumb-section breadcrumb-bg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <div class="breadcrumb-text">
                        <p>Fresh and Organic</p>
                        <h1>Shop</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- end breadcrumb section -->

    <!--Search-->
    <div class="container mt-5">
        <EditForm Model="@productListSearch">
            <div class="row">
           
                    <div class="col">
                        <label>Name</label>
                        <InputText class="form-control" @bind-Value="productListSearch.TenSP"></InputText>
                    </div>

                    <div class="col">
                        <label>LoaiSP</label>
                        <InputSelect class="form-control" @bind-Value="productListSearch.LoaiSP">
                            @foreach (var item in Loais)
                            {
                                <option value="@item.MaLoai">@item.TenLoai</option>
                            }
                        </InputSelect>
                    </div>

                    <div class="col">
                        <label>Tình trạng</label>
                        <InputSelect class="form-control" @bind-Value="productListSearch.TinhTrang">
                            @foreach (var item in TinhTrangs)
                            {
                                <option value="@item.MaTinhTrang">@item.TenTinhTrang</option>
                            }
                        </InputSelect>
                    </div>

                    <div class="col ">
                        <button type="submit" class="btn btn-success ">Search</button>
                    </div>
              
            </div>
        </EditForm>
    </div>
    <!---->


    <!-- products -->
    <div class="product-section  mb-150">
        <div class="container">

            <div class="row">
                <div class="col-md-12">
                    <div class="product-filters">
                        <ul>
                            <li class="active" data-filter="*">Tất cả sản phẩm</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row product-lists">

                @foreach (var item in Products)
                {
                    <div class="col-lg-4 col-md-6 text-center strawberry">
                        <div class="single-product-item">
                            <div class="product-image">
                                <a href="single-product.html"><img src="assets/img/products/product-img-6.jpg" alt=""></a>
                            </div>
                            <h3>@item.TenSP</h3>
                            <p class="product-price"><span>Per Kg</span> @item.GiaSP </p>
                            <a href="cart.html" class="cart-btn"><i class="fas fa-shopping-cart"></i> Add to Cart</a>
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>
}