@page "/ProductDetails/{Id:int}"
@using TechShop.Models.Dtos;


<link rel="stylesheet" href="./assets/css/main.css">

<!-- breadcrumb-section -->
<div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>See more Details</p>
                    <h1>Chi tiết sản phẩm</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
@if (Products == null)
{
    <DisplaySpinner />
}
else
{
    <div class="container mt-5">
     
        <div class="row ">
            <div class="col-md-6 mb-4">
                <img class="img-fluid" src="@Products.ImageURL">
            </div>
            <div class="col p-t-100" >
                <h4>Tên sản phẩm: @Products.TenSP</h4>
                <p><strong>Loại sản phẩm: </strong>@Products.TenLoai</p>
                <p><strong>Số lượng: </strong>@Products.SoLuong</p>
                <p><strong>Giá tiền: </strong> @Products.GiaSP.ToString("C")&nbsp;</p>
                <p><strong>Mô tả: </strong> @Products.MoTa</p>
                <p><strong>Ngày đăng: </strong>@Products.NgayDang.ToString()</p>
                <div>
                    @foreach(var item in Carts)
                    {
                        var a = item.ID_Cart;
                        <button class="btn btn-success"
                        @onclick="() => (AddToCart_Click(new CartItemToAddDto{
                                CartId =  a,
                                ProductId = Products.MaSP,
                                Qty=1,
                                Price = Products.GiaSP
                        }))">
                            <b>Thêm vào giỏ hàng</b>
                        </button>
                    }

                       
                    

                </div>
            </div>

        </div>
    </div>
}

